.nav {
	padding-top: 3px;
	padding-right: 5px;
	font-size: large;
}

.links-wrapper {
	display: flex;
	justify-content: center;
	max-width: 100%;
	padding: 5px;
	margin-left: 5px;
	gap: 7rem;
	list-style: none;
}
.link {
	text-decoration: none;
	color: white;
}

.link:hover {
	color: #b2b0b0;
}
