.subtitle {
	width: 25ch;
	animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	font-family: monospace;
	font-size: 2em;
	border-right: 0.15em solid #ffc83d;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: #ffc83db5;
	}
}

@media (max-width: 768px) {
	.subtitle {
		font-size: 1.5em;
	}
}
