.task-input {
	width: 30rem;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 10px;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 0 0 1px #ffffff;
}

.loading {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.todo-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-top: -2rem;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	width: 25rem;
	height: 40px;
	padding: 0 10px;
	font-size: 16px;
}

.trash-icon {
	color: rgba(255, 0, 0, 0.434);
	margin-right: 1.5rem;
	cursor: pointer;
	width: 1.5rem;
}

.trash-icon:hover {
	color: rgba(255, 0, 0, 0.8);
}

.pencil-icon {
	color: rgba(68, 68, 243, 0.789);
	margin-right: 1.5rem;
	cursor: pointer;
	width: 1.5rem;
}

.pencil-icon:hover {
	color: rgba(68, 68, 243, 1);
}

.todo-link {
	text-decoration: none;
	color: white;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 160px;
	height: 1.2em;
	white-space: nowrap;
}

.task-input:disabled {
	background: #ebebeb;
}

@media (max-width: 768px) {
	.todo-wrapper {
		margin-top: 1rem;
	}
	.task-input {
		width: 18.4rem;
	}
	.todo-item {
		width: 21rem;
	}
}

@media (max-width: 320px) {
	.todo-wrapper {
		margin-top: 1rem;
	}
	.task-input {
		width: 14rem;
	}
	.todo-item {
		width: 18rem;
	}
}
